<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-book-heading">Create or edit a Book</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!book.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="book.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isbn">Isbn</label>
                    <input type="number" class="form-control" name="isbn" id="field_isbn"
                        [(ngModel)]="book.isbn" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="book.title" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pages">Pages</label>
                    <input type="number" class="form-control" name="pages" id="field_pages"
                        [(ngModel)]="book.pages" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_author">Author</label>
                    <select class="form-control" id="field_author" name="author" [(ngModel)]="book.author" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="authorOption.id === book.author?.id ? book.author : authorOption" *ngFor="let authorOption of authors; trackBy: trackAuthorById">{{authorOption.firstName}} {{authorOption.lastName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="book.category" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === book.category?.id ? book.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
